body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.about-navbar {
  min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c1c3c736;
}

.about-navbar a {
  font-size: 14px;
  color: #19345e;
  text-transform: uppercase;
  margin: 0.05rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}

.about-navbar div {
  width: 100%;
  display: flex;
  align-items: center;
}

a:hover {
  color: #f47522;
}
